extends index.pug
block content
  .container-sm
  .bg-image(style="background-image: url('../beach.jpg'); height: 100vh")
    .row.justify-content-md-center
      .col-md-9
        .placeholder
          .row.justify-content-md-center
            .col-md-8
              figure.text-center
                blockquote.blockquote
                  h2 Ваш билет удален
                  h2 #[a(href='/') Перейти на главную]