html
  head
     title Правила и условия
     meta(charset="utf-8")
  body
    block content

        h2 ОБЩИЕ ПОЛОЖЕНИЯ

           p 1.1 Настоящие правила посещения кинотеатра «СИНЕМА СИТИ» (далее -Правила), расположенного по адресу: Московская область, г. Ногинск, ул. Комсомольская, д.26, разработаны на основании требований Конституции Российской Федерации, Гражданского Кодекса Российской Федерации, Законов Российской Федерации: «О защите прав потребителей», «Об авторском праве и смежных правах», «О санитарно-эпидемиологическом благополучии населения», «Основ законодательства Российской Федерации о культуре», «О конкуренции», в соответствии с Правилами кинообслуживания населения, утвержденными постановлением Правительства РФ от 17.11.1994 г. № 1264 (с изменениями от 17.11.2000 г., 01.02.2005 г., 14.12.2006 г., 10.03.2009 г.).

            p Посетитель в момент покупки билета автоматически заключает договор на киновидео-обслуживание (п.7 Правил кинообслуживания населения).

            p 1.2 Правила определяют порядок пропуска и нормы поведения граждан, находящихся в здании кинотеатра, которые направлены, в том числе, на предотвращение нарушений прав и свобод одних посетителей кинотеатра неправомерными действиями (бездействиями) другими посетителями кинотеатра. Посетители кинотеатра обязаны соблюдать данные Правила, общественный порядок и нормы нравственного поведения в кинотеатре и на прилегающей к кинотеатру территории (п.25 Правил кинообслуживания населения).

            p 1.3 Под сеансом здесь и далее следует понимать время, проведенное посетителем в зрительном зале. Сеанс включает в себя трейлеры будущих картин и непосредственно сам кинофильм.

            p 1.4 Покупка билета считается моментом заключения договора между посетителем и кинотеатром, а также автоматическим соглашением с Правилами посещения кинотеатра. Любой посетитель кинотеатра вправе до покупки билета ознакомиться с настоящими Правилами.

            p 1.5 В билете указывается возрастное ограничение на просмотр конкретного фильма (возраст со знаком «+»), что является предоставлением информации о возрастных ограничениях зрителю. Покупая билет, зритель подтверждает факт ознакомления с данным ограничением.

            p 1.6 Любые ограничения и запреты, содержащиеся в настоящих Правилах, установлены в целях предотвращения и предупреждения нахождения на территории кинотеатра людей и предметов, которые могут служить угрозой причинения вреда другим посетителям кинотеатра, их имуществу и имуществу кинотеатра, препятствовать незамедлительной эвакуации посетителей кинотеатра в случае возникновения чрезвычайной ситуации.

            p 1.7 Настоящие Правила устанавливают порядок кинообслуживания населения в кинотеатре и доводятся до сведения кинозрителей путем размещения в кассовом зале и на официальном сайте кинотеатра. По требованию зрителей администратор или кассир кинотеатра может предоставить настоящие Правила в распечатанном виде.

            p Кинотеатр имеет право изменять условия продажи и возврата билетов в одностороннем порядке, размещая их в кассовом зале кинотеатра и на официальном сайте не менее чем за десять дней до начала их действия.

            p 1.8 Кинотеатр обязуется сделать всё возможное, чтобы мероприятия, заявленные в афише, состоялись в назначенные дни и время. Администрация кинотеатра оставляет за собой право вносить изменения в расписание киносеансов и состав мероприятий без предварительного уведомления.

            p 1.9 Администрация кинотеатра имеет право отказать в обслуживании зрителю, не допустить его в кинозал или удалить зрителя из зала в случае нарушения общественного порядка, причинения вреда имуществу кинотеатра или в случае нарушения зрителем данных правил.

            p 1.10 Время работы кинотеатра:

            p Ежедневно с 10:00 часов и до окончания всех сеансов.

            p 1.11 Администрация кинотеатра имеет право:

            p -устанавливать репертуарную политику и цены на билеты;

            p - попросить предъявить документ, удостоверяющий личность покупателя, в случае если продажа билетов производится по льготному тарифу, либо возникает необходимость установить возраст покупателя с целью воспрепятствовать просмотру им кинофильма, имеющего возрастные ограничения;

            p -при нарушении настоящих Правил, общепринятых правил и норм поведения (нецензурная брань, агрессивное поведение, нарушение тишины в зале во время сеанса, использование предметов, создающих шумовой эффект и мешающих зрителям и т.д.) вывести такого посетителя из кинотеатра и отказать в оказании услуг.

            p 1.12 Посетители имеют право вносить свои замечания в «Книгу отзывов и предложений» (книга находится у администратора кинотеатра).

            