extends index.pug

block content
    a.sliding-button(href='http://localhost:3010') На главную
    .container
      //h1= message
      //p= JSON.stringify(data)
      h2 Благодарим за регистрацию, #{data.name}!
      p Билет отправлен на Вашу почту: #[strong #{data.email}].
      h2=diffDays
    block foot
      .footer
        
    